@charset "UTF-8" ;

* {
    margin: 0;
    padding: 0;
}

:root {
    --corFundoBody: #9CCCCB;
    --corLinkNavbar: #cfeeee;
    --corTextDest: #0F3332;
    --corTestEnf: #294D4C;
    --corFundoElements: #364444;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--corFundoBody);
}

header {
    background-color: var(--corFundoElements);
    margin-bottom: 1rem;
    padding: 10px;
    box-shadow: 3px 3px 10px #242d2db9;
}

header > h1, a {
    color: white;
    text-align:center;
    text-shadow: 1px 1px 3px rgba(44, 41, 41, 0.663);
}


section {
    margin:auto;
    background-color: white;
    width: 90%;
    border-radius: 3px;
    padding: 15px;
    box-shadow: 3px 3px 10px #4a6160ad;
}

footer {
    font-style: italic;
    text-align: center;
    color: var(--corTextDest);
    font-size: 12px;
    margin-top: 12px;
}

h2 {
    text-align: center;
    margin-bottom: 15px;
}

.item_section {
    margin-top:15px;
    margin-bottom:15px;
}

.linknav {
    display:inline-block;
    margin-left: 1.5%;
    margin-right: 1.5%;
}

a {
    text-decoration: none;
    color:var(--corLinkNavbar);
}

a:hover {
    color: #78a5a5;
    background-color: #333838;
    text-decoration: underline;
}

div#msg {
    text-align: center;
}

