@charset "UTF-8";

/* Campos de entrada das notas */
section#entry_note {
    background-color: white;
    width:60%;
    margin:auto;
    padding: 1em;
    margin-bottom:1.5em;
    box-shadow:  3px 3px 10px rgba(63, 63, 63, 0.634);
    border-radius: 3px;
}

section#entry_note > div {
    margin-bottom: 10px;
}

/* Blocos de notas */
.notepad {
    display: inline-table;
    background-color: white;
    color: black;
    width: 43%; 
    min-height: 20rem;
    margin: 15px 3% 15px 3%;
    border-radius: 3px;
    box-shadow: 3px 3px 10px rgba(94, 94, 94, 0.727);

    text-indent: 16px;
}

.notepad > .titulo {
    width: 100%;
    background-color: var(--corFundoElements);
    color: rgb(167, 205, 205);
    border-radius: 3px;
    padding-top: 3px;
    text-align: center;
}

.notepad > .cntd {
    padding: 10px;
}

.button {
    display: inline-table;
    float: right;
    padding: 0px 1px 6px 1px;
}